:root {
    --highlight-color: #648DE5;
    --dark-highlight-color: #304C89;
    --light-color: #E8E5DA;
    --bright-color: #FF7D00;
    --main-text-color: #2f3138;
    --pure-white: #fff;
    --header-color: #0e1b4d;
    --offset-paragraph: #9195a2;
    --schedule-blue: #19328e;
    --section-color: #f6f7fd;
    --supporters-color: #e0e5fa;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: var(--pure-white);
    color: var(--main-text-color);
    font-family: "Open Sans", sans-serif;
}

a {
    color: var(--highlight-color);
    text-decoration: none;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: var(--bright-color);
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: var(--header-color);
}

.main-page {
    margin-top: 70px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--highlight-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: var(--pure-white);
    line-height: 0;
}

.back-to-top:hover {
    background: var(--bright-color);
    color: var(--pure-white);
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* Sections Header
--------------------------------*/
.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}

.section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: var(--highlight-color);
    bottom: 0;
    left: calc(50% - 25px);
}

.section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--offset-paragraph);
}

.section-with-bg {
    background-color: var(--section-color);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 90px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled, #header.header-inner {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
}

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 span {
    color: var(--highlight-color);
}

#header #logo h1 a, #header #logo h1 a:hover {
    color: var(--pure-white);
}

#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

@media (max-width: 992px) {
    #header #logo img {
        max-height: 30px;
    }
}

/*--------------------------------------------------------------
# Buy Tickets
--------------------------------------------------------------*/
.buy-tickets {
    color: var(--pure-white);
    background: var(--highlight-color);
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 50px;
    border: 2px solid var(--highlight-color);
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
    white-space: nowrap;
}

.buy-tickets:hover {
    background: none;
    color: var(--pure-white);
}

.buy-tickets:focus {
    color: var(--pure-white);
}

@media (max-width: 992px) {
    .buy-tickets {
        margin: 0 15px 0 0;
    }
}

@media (max-width: 460px) {
    .buy-tickets {
        display: none;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 12px;
}

.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(202, 206, 221, 0.8);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    padding: 6px 4px;
}

.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--highlight-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: var(--pure-white);
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 12px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--pure-white);
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #060c22;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: var(--highlight-color);
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: var(--pure-white);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: var(--pure-white);
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile > ul > li {
    padding: 0;
}

.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #060c22;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: var(--highlight-color);
}

.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: var(--pure-white);
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: var(--highlight-color);
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero img {
    width: 25%;
}

#hero:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

@media (max-width: 991px) {
    #hero .hero-container {
        top: 70px;
    }

    #hero img {
        width: 35%;
    }
}

@media (max-width: 450px) {
    #hero img {
        width: 45%;
    }
}

#hero h1 {
    color: var(--pure-white);
    font-family: "Raleway", sans-serif;
    font-size: 200px;
    font-weight: 600;
    text-transform: uppercase;
}

#hero h1 span {
    color: var(--highlight-color);
}

@media (max-width: 991px) {
    #hero h1 {
        font-size: 100px;
    }
}

#hero p {
    color: var(--pure-white);
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 991px) {
    #hero p {
        font-size: 16px;
    }
}

#hero .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(var(--highlight-color) 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}

#hero .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid var(--pure-white);
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn:before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(163, 163, 163, 0.4);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
    border-left: 15px solid var(--highlight-color);
    transform: scale(20);
}

#hero .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid var(--pure-white);
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

#hero .about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: var(--pure-white);
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid var(--highlight-color);
}

#hero .about-btn:hover {
    background: var(--highlight-color);
    color: var(--pure-white);
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
    background: url("../img/about-bg.png");
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: var(--pure-white);
    padding: 60px 0 40px 0;
}

@media (min-width: 1024px) {
    #about {
        background-attachment: fixed;
    }
}

#about:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--pure-white);
}

#about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--pure-white);
}

#about p {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--pure-white);
}

/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/
#schedule {
    padding: 60px 0 60px 0;
}

#schedule .nav-tabs {
    text-align: center;
    display: block;
    border-bottom: 0;
    margin: auto auto 30px;
}

#schedule .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
}

#schedule .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: var(--header-color);
    color: var(--pure-white);
    padding: 10px 100px;
}

#schedule #toggle-mystery {
    color: var(--section-color);
}

#schedule #toggle-mystery:hover {
    color: var(--schedule-blue);
}

@media (max-width: 991px) {
    #schedule .nav-tabs a {
        padding: 8px 60px;
    }
}

@media (max-width: 767px) {
    #schedule .nav-tabs a {
        padding: 8px 50px;
    }
}

@media (max-width: 480px) {
    #schedule .nav-tabs a {
        padding: 8px 30px;
    }
}

#schedule .nav-tabs a.active {
    background-color: var(--highlight-color);
    color: var(--pure-white);
}

#schedule .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
}

@media (min-width: 991px) {
    #schedule .sub-heading {
        width: 75%;
    }
}

#schedule .tab-pane {
    transition: ease-in-out 0.2s;
}

#schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
}

#schedule .schedule-item:hover {
    background-color: var(--pure-white);
}

#schedule .schedule-item time {
    padding-bottom: 5px;
    display: inline-block;
}

#schedule .schedule-item .speaker {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
}

#schedule .schedule-item .speaker img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
}

#schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

#schedule .schedule-item h4 span {
    font-style: italic;
    color: var(--schedule-blue);
    font-weight: normal;
    font-size: 16px;
}

#schedule .schedule-item p {
    font-style: italic;
    color: var(--schedule-blue);
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/
#venue {
    padding: 60px 0;
}

#venue .container-fluid {
    margin-bottom: 3px;
}

#venue .venue-map iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
}

#venue .venue-info {
    background: url("../img/venue-info-bg.jpg") top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

#venue .venue-info:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#venue .venue-info h3 {
    font-size: 36px;
    font-weight: 700;
    color: var(--pure-white);
}

@media (max-width: 574px) {
    #venue .venue-info h3 {
        font-size: 24px;
    }
}

#venue .venue-info p {
    color: var(--pure-white);
    margin-bottom: 0;
}

#venue .venue-gallery-container {
    padding-right: 12px;
}

#venue .venue-gallery {
    overflow: hidden;
    border-right: 3px solid var(--pure-white);
    border-bottom: 3px solid var(--pure-white);
}

#venue .venue-gallery img {
    transition: all ease-in-out 0.4s;
}

#venue .venue-gallery:hover img {
    transform: scale(1.1);
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
#gallery {
    padding: 60px;
    overflow: hidden;
}

#gallery .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

#gallery .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--pure-white);
    opacity: 1;
    border: 1px solid var(--highlight-color);
}

#gallery .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--highlight-color);
}

#gallery .swiper-slide-active {
    text-align: center;
}

@media (min-width: 992px) {
    #gallery .swiper-wrapper {
        padding: 40px 0;
    }

    #gallery .swiper-slide-active {
        border: 5px solid var(--highlight-color);
        padding: 4px;
        background: var(--pure-white);
        z-index: 1;
        transform: scale(1.15);
        margin-top: 6px;
    }
}

/*--------------------------------------------------------------
# Sponsors Section
--------------------------------------------------------------*/
#supporters {
    padding: 60px 0;
}

#supporters p h2{
    text-align: center;
    margin: 0;
}

#supporters .supporters-wrap {
    transform: translateX(-40px);
    margin-bottom: 30px;
}

#supporters .supporter-logo {
    padding: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    height: 300px;
}


#supporters .supporter-logo:hover img {
    transform: scale(1.2);
}

#supporters img {
    transition: all 0.4s ease-in-out;
    object-fit: cover; /* Scale the image to cover the div */
    max-height: 100%; /* Prevent the image from overflowing the div */
}

/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/
#faq {
    padding: 60px 0;
}

#faq .faq-list {
    padding: 0;
    list-style: none;
}

#faq .faq-list li {
    border-bottom: 1px solid #e9eaed;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#faq .faq-list .question {
    display: block;
    position: relative;
    font-family: var(--highlight-color);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    color: var(--bright-color);
    transition: 0.3s;
}

#faq .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
}

#faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
}

#faq .faq-list .icon-show {
    display: none;
}

#faq .faq-list .collapsed {
    color: black;
}

#faq .faq-list .collapsed:hover {
    color: var(--highlight-color);
}

#faq .faq-list .collapsed .icon-show {
    display: inline-block;
    transition: 0.6s;
}

#faq .faq-list .collapsed .icon-close {
    display: none;
    transition: 0.6s;
}

/*--------------------------------------------------------------
# Subscribe Section
--------------------------------------------------------------*/
#subscribe {
    padding: 60px;
    background: url(../img/subscribe-bg.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#subscribe:before {
    content: "";
    background: rgba(6, 12, 34, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

@media (min-width: 1024px) {
    #subscribe {
        background-attachment: fixed;
    }
}

#subscribe .section-header h2, #subscribe p {
    color: var(--pure-white);
}


#subscribe button {
    border: 0;
    padding: 9px 25px;
    cursor: pointer;
    background: var(--highlight-color);
    color: var(--pure-white);
    transition: all 0.3s ease;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
}

#subscribe button:hover {
    background: var(--bright-color);
}

@media (max-width: 460px) {
    #subscribe button {
        margin-top: 10px;
    }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
#contact {
    padding: 60px 0;
}

#contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
}

#contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: var(--highlight-color);
}

#contact .contact-info address, #contact .contact-info p {
    margin-bottom: 0;
    color: var(--schedule-blue);
}

#contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--schedule-blue);
}

#contact .contact-info a {
    color: var(--highlight-color);
}

#contact .contact-info a:hover {
    color: var(--highlight-color);
}

#contact .contact-address, #contact .contact-phone, #contact .contact-email {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    #contact .contact-address, #contact .contact-phone, #contact .contact-email {
        padding: 20px 0;
    }
}

@media (min-width: 768px) {
    #contact .contact-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Socials Bar
--------------------------------------------------------------*/

.icon-bar {
    position: fixed;
    top: 70%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    background-color: #000;
}

.counter a:hover {
    background: #3d3d3d;
    color: white;
}

.icon-bar img {
    width: 30px;
    height: auto;
}

.instagram {
    background: #f00075;
    color: white;
}

.discord {
    background: #5869ea;
    color: white;
}

.email {
    background: grey;
}

.youtube {
    background: #bb0000;
    color: white;
}

.devpost {
    background: #003e53;
    color: white;
}

.counter {
    background: #000;
    color: white;
}


@media (max-width: 620px) {
    .icon-bar {
        display: none;
    }
}


/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}